/* 页面背景色和字体样式 */
body {
  background-color: #87adcf; /* 设置浅灰色背景 */
  font-family: Arial, sans-serif; /* 默认字体 */
}

/* Noto Sans Old Turkic 字体样式 */
.noto-sans-old-turkic-regular {
  font-family: "Noto Sans Old Turkic", sans-serif; /* 使用突厥字母字体 */
  font-weight: 400; /* 正常字体粗细 */
  font-style: normal; /* 正常字体风格 */
  font-size: 1.5rem;
}

/* IM Fell English 字体样式 */
.im-fell-english-regular {
  font-family: "IM Fell English", serif; /* 使用 IM Fell English 字体 */
  font-weight: 400; /* 正常字体粗细 */
  font-style: normal; /* 正常字体风格 */
}

/* Noto Serif Old Uyghur 字体样式 */
.noto-serif-old-uyghur-regular {
  font-family: "Noto Serif Old Uyghur", serif; /* 使用回鹘字母字体 */
  font-weight: 400; /* 正常字体粗细 */
  font-style: normal; /* 正常字体风格 */
}

/* 文本框样式 */
textarea {
  width: 100%; /* 填满父容器宽度 */
  height: 300px; /* 固定高度为 300px */
  padding: 10px; /* 内边距 */
  border: 1px solid #ccc; /* 边框颜色 */
  border-radius: 5px; /* 圆角 */
  resize: none; /* 禁止手动调整大小 */
  font-size: 1rem; /* 字体大小 */
  overflow-y: auto; /* 当内容超出时显示滚动条 */
}

textarea:focus {
  outline: none; /* 去除默认聚焦外边框 */
  border-color: #007bff; /* 聚焦时边框变为蓝色 */
}

/* 按钮样式 */
button {
  font-size: 1rem; /* 设置按钮字体大小 */
  padding: 10px 20px; /* 设置按钮内边距 */
  border-radius: 5px; /* 设置圆角 */
}

/* 规则说明部分样式 */
.mt-4 {
  margin-top: 2rem; /* 增加上方间距 */
  padding: 15px; /* 增加内边距 */
  background-color: #ffffff; /* 设置背景颜色为白色 */
  /*border: 1px solid #ddd; !* 添加浅灰色边框 *!*/
  border-radius: 5px; /* 添加圆角样式 */
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); !* 添加轻微阴影 *!*/
}

/* 说明文字样式 */
.notes-text {
  font-size: 1.2rem; /* 设置段落字体大小 */
  line-height: 1.8; /* 增加行高，提高可读性 */
  color: #333; /* 设置文字颜色为深灰色 */
}
.notes-text.notes-title {
  font-size: 1.5rem; /* 设置标题字体大小 */
  font-weight: bold; /* 设置标题字体加粗 */
}

/* 表单样式 */
.form-label
{
  font-size: 1.2rem; /* 设置标签字体大小 */
  font-weight: bold; /* 设置标签字体加粗 */
}


